# PostgreSQL (Database Utama)
DATABASE_URL="postgresql://db_user:db_password@localhost:5432/dexa_wfh?schema=public"

# MongoDB (Audit Logs)
MONGO_URI="mongodb://localhost:27017/dexa_wfh_logs"

# RabbitMQ (Message Broker)
RABBITMQ_URL="amqp://localhost:5672"

# Autentikasi
JWT_SECRET="your-super-secret-jwt-key"

# MinIO (Penyimpanan S3)
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="dexa-uploads"

DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_EMPLOYEE_PASSWORD=wfh123
