# PostgreSQL (Database Utama)
DATABASE_URL="postgresql://your_db_user:your_db_password@your_db_host:5432/your_db_name?schema=public"

# MongoDB (Audit Logs)
MONGO_URI="mongodb://your_mongo_host:27017/your_mongo_db"

# RabbitMQ (Message Broker)
RABBITMQ_URL="amqp://your_rabbitmq_host:5672"

# Autentikasi
JWT_SECRET="your_jwt_secret_key"

# MinIO (Penyimpanan S3)
MINIO_ENDPOINT="your_minio_host"
MINIO_PORT="your_minio_port"
MINIO_ACCESS_KEY="your_minio_access_key"
MINIO_SECRET_KEY="your_minio_secret_key"
MINIO_BUCKET="your_minio_bucket_name"

DEFAULT_ADMIN_PASSWORD="your_default_admin_password"
DEFAULT_EMPLOYEE_PASSWORD="your_default_employee_password"
